footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px; /* Set the font size for the entire footer */
  line-height: 2;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Equal horizontal spacing between sections */
  align-items: flex-start; /* Vertically align items at the top */
  flex-wrap: wrap; /* Allow sections to wrap to the next line on smaller screens */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: calc(
    25% - 20px
  ); /* Each section takes up one-fourth of the container width with equal spacing */
  margin: 10px; /* Add some spacing around each section */
  text-align: left; /* Adjust text alignment within each section */
  position: relative; /* Create a relative positioning context */
  display: flex;
  flex-direction: column; /* Stack content vertically within each section */
  align-items: center; /* Center-align content horizontally within each section */
}

/* Style headings, paragraphs, and links within the sections as needed */
.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative; /* Create a stacking context to place text above the line */
  background-color: #333; /* Background color behind the text to hide the line behind it */
  z-index: 1; /* Bring text to the front */
}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

/* Style the logo image */
.mainlogo {
  max-width: 100em; /* Set a maximum width for the logo */
  margin-top: 2em; /* Offset towards the bottom */
  margin-right: 2em; /* Offset to the right */
}
