.slider {
  position: relative;
  height: 100vh;
  width: 100;
  margin: 0;
  overflow: hidden;
  transition: background 0.3s;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.5);
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.scroll-indicator {
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: rgba(255, 255, 255, 0.5);
}

.slide {
  position: relative;
  height: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.current {
  height: auto;
  opacity: 1;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.overlay {
}

h1 {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: #fff;
}

p {
  font-size: 14px;
}
