@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Rubik:wght@500;600&display=swap");

:root {
  line-height: 1.5;
  font-weight: bold;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  color: black;
  height: 100%;
}

h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin-bottom: 97px;
  color: #01579b;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin-bottom: -12px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

body {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  color: black;
}

p {
  margin-bottom: -12px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.content {
  text-align: left;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  border: 1px solid #ffffff;
}

.left-column {
  background-color: #ffffff;
  padding-left: 17.7%;
  padding-right: 7%;
  padding-top: 6%;
  text-align: left;
}

.right-column {
  background-color: #ffffff;
  padding-right: 17.7%;
  padding-top: 6%;
}

.Hours {
  margin-bottom: 97px;
}

.Enquires {
  margin-bottom: 97px;
}

.WWS {
  margin-bottom: 97px;
}