.project-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  padding: 5rem 5rem;
}
.project-container h1 {
  color: #01579b;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}
.class-options {
  display: flex;
}
.type-options {
  display: flex;
}

.class-option {
  padding: 0.5rem;
}
.type-option {
  padding: 0.5rem;
}
.type-option.selected {
  color: #01579b;
}
.class-option.selected {
  color: #01579b;
}
